.suggest {
  font-weight: bold;

  padding: 3px;

  color: #fe5f55;
  border-radius: 4px;
  background: #ffefed;
}

.completions {
  z-index: 999;

  overflow-y: auto;

  max-height: 240px;
  margin: 0;
  padding: 0;

  list-style: none;

  border: 1px solid #ebeef5;
  border-radius: 2px;
  background: #fff;
}

.completions > li {
  margin: 0;
  padding: 0;
}

.completions > li > button {
  display: block;

  box-sizing: border-box;
  width: 100%;
  height: 2em;
  margin: 0;
  padding: 0.25em 0.5em;

  text-align: left;

  border: none;
  background: none;
}

.custom-tags {
  display: block;

  box-sizing: border-box;
  width: 100%;
  height: 2em;
  margin: 0;
  padding: 0.25em 0.5em;

  text-align: left;

  color: #696969;
  border: none;
  background: none;
}

.completions > li > button:hover {
  cursor: pointer;

  color: #fe5f55;
  background: #ffefed;
}

.completions > li > button:focus {
  color: #fe5f55;
  outline: none;
  background: #ffefed;
}

.completions > li > button > .matched {
  font-weight: bold;

  padding: 2px;

  color: #fe5f55;
  border-radius: 2px;
  background: #ffefed;
}

.completions > li > button > * {
  vertical-align: 'middle';
}
